@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: sans-serif;
  width: 100%
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('/public/planetpic.jpg');
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-repeat:repeat;
}

