@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: sans-serif;
  width: 100%
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

